logs/scheduler/latest
logs/dag_processor_manager/dag_processor_manager.log
airflow_env
dags/__pycache__/__pycache__/your_dag.cpython-39.pyc
logs/dag_processor_manager/dag_processor_manager.log
logs/scheduler/2024-11-17/__pycache__/your_dag.py.log
